@font-face{

	font-family: Formular;

	src: url('Formular-Regular.otf') format('otf');

	font-weight: 400;

	font-style: normal;

}

@font-face{

	font-family: Formular;

	src: url('Formular-Bold[1].otf') format('otf'),

	url('Formular-Bold[1].otf') format('otf');

	font-weight: 600;

	font-style: normal;

}

@font-face{

	font-family: Formular;

	src:url('Formular-Medium.otf') format('otf');

	font-weight: 500;

	font-style: normal;

}

@font-face{

	font-family: 'Formular';

	src: url('Formular-Black[1].otf') format('otf'),

	url('Formular-Black[1].otf') format('otf');

	font-weight: 900;

	font-style: normal;

}

@font-face{

	font-family: 'Formular';

	src: url('Formular-Light.otf') format('otf'),

	url('Formular-Light.otf') format('otf');

	font-weight: 300;

	font-style: normal;

}