@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oj1bpi');
  src:  url('fonts/icomoon.eot?oj1bpi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oj1bpi') format('truetype'),
    url('fonts/icomoon.woff?oj1bpi') format('woff'),
    url('fonts/icomoon.svg?oj1bpi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e91b";
}
.icon-iconfinder_icon-play_211876:before {
  content: "\e929";
}
.icon-iconfinder_icon-pause_211871:before {
  content: "\e92a";
}
.icon-reload:before {
  content: "\e928";
}
.icon-logo_site-en:before {
  content: "\e927";
}
.icon-users:before {
  content: "\e91e";
}
.icon-blind:before {
  content: "\e91f";
}
.icon-dis:before {
  content: "\e920";
}
.icon-dots:before {
  content: "\e921";
}
.icon-ear:before {
  content: "\e922";
}
.icon-hands:before {
  content: "\e923";
}
.icon-phone1:before {
  content: "\e924";
}
.icon-uniE925:before {
  content: "\e925";
}
.icon-uniE926:before {
  content: "\e926";
}
.icon-foto:before {
  content: "\e91d";
}
.icon-door_close:before {
  content: "\e91c";
}
.icon-view:before {
  content: "\e900";
}
.icon-Vector-4:before {
  content: "\e901";
}
.icon-glass:before {
  content: "\e902";
}
.icon-clock2:before {
  content: "\e903";
}
.icon-grid:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-cart:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-love:before {
  content: "\e908";
}
.icon-geo2:before {
  content: "\e909";
}
.icon-mail1:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e917";
}
.icon-phohe2:before {
  content: "\e90b";
}
.icon-logo_site:before {
  content: "\e90c";
}
.icon-mail:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-t:before {
  content: "\e910";
}
.icon-arrow:before {
  content: "\e912";
}
.icon-arrow_down:before {
  content: "\e913";
}
.icon-door:before {
  content: "\e914";
}
.icon-f:before {
  content: "\e915";
}
.icon-geo:before {
  content: "\e916";
}
.icon-geo_top:before {
  content: "\e91a";
}
.icon-in:before {
  content: "\e918";
}
.icon-insta:before {
  content: "\e919";
}
