@media screen and (max-width: 1500px){
	.input_search{
		width: 190px;
	}
	.input_search{
		padding: 8px 27px 8px 13px;
	}

	.search_btn{
		margin-left: -27px;
	}

	/*---------------slider-------------------*/
	.slider_info h2{
		width: 90%;
	}

	/*---------------------footer---------------------*/
	.footer_item{
		padding-left: 33px;
		margin-left: 30px;
		padding-right: 30px;
	}
	.footer_item:before{
		content: '';
		width: 2px;
		height: 90px;
		background: #A6C0CD;
		opacity: 0.2;
		position: absolute;
		top: 50%;
		left: -31px;
		transform: translate(0, -50%);
	}

	/*--------------------work_time--------------------*/
	.work_main_bottom_container{
		background-size: 38%, 42% 60%;
		background-position: top 40% right 15%, bottom right;
	}

	/*------------------collection-------------------*/

	.collection_container{
		background-size: 62% 90%;
		background-position: left bottom;
	}
	.collection_foto_container img{
		max-width: 70%;
	}
	.collection_text{
		right: 50px;
	}
	.collection_text.type2{
		right: inherit;
		left: 50px;
	}
	
	.collection_container.type2{
		background-position: right bottom 60px;
	}

	/*------------------collection_page-------------------*/

	.collection_page_info{
		margin-right: -30px;
		max-width: 1600px;
		margin-left: -30px;
		padding: 0 15px;
	}


	.checkbox_item label{
		width: 400px;
	}


	/*------------------about_building-------------------*/

	.building_container{
		background-size: 92% 100%, 8% 100%;
	}
	.building_container.type1{
		background-size: 8% 100%, 92% 100%;
	}

	/*------------------about_press-------------------*/

	.content_container.press_style{
		margin-right: auto;
	}
	.content_container.press_style.type2{
		margin-left: auto;
	}
}

@media screen and (max-width: 1370px){
	.header_time_work.mod1{
		display: none;
	}
	.header_time_work.mod1{
		display: none;
	}
	.header_seporation{
		display: none;
	}
	.header_seporation.type1{
		display: block;
	}

	.header_seporation.type2{
		display: block;
	}
	.header_top{
		padding-left: 30px;
	}

	nav{
		max-width: 80%;
	}

	.input_search{
		width: 140px;
	}
	.input_search{
		padding: 8px 27px 8px 8px;
	}

	.search_btn{
		margin-left: -27px;
	}

	/*------------------collection-------------------*/


	.collection_text{
		right: 0px;
	}
	.collection_text.type2{
		right: inherit;
		left: 0px;
	}

	/*------------------about_founded-------------------*/

	.founded_info_container{
		padding: 0px;
	}

}

@media screen and (max-width: 1199px){
	
	.logo_img span{
		font-size: 60px;
	}
	.header_seporation{
		margin: 0 15px;
	}
	.header_seporation.type1{
		margin-right: 15px;
	}
	.header_seporation.type2{
		margin-left: 15px;
		margin-right: 0px;
	}
	.header_time_work.mod1{
		display: none;
	}
	.header_seporation{
		display: none;
	}
	.header_seporation.type1{
		display: block;
	}

	.header_seporation.type2{
		display: block;
	}
	.logo_container{
		min-width: 155px;
	}
	nav{
		max-width: inherit;
	}
	.input_search{
		width: 100px;
	}
	.input_search{
		padding: 8px 20px 8px 8px;
	}
	.search_btn{
		margin-left: -25px;
	}

	.nav-link{
		font-size: 1rem;
	}

	/*-----------view_container------------------*/


	.view_container{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 7px;
	}

	.view_title p{
		font-style: normal;
		font-weight: normal;
		line-height: 1.2;
		opacity: 0.8;
		margin-bottom: 16px;
	}
	.view_it_sep{
		display: none;
	}
	.view_it_sep.mod1{
		display: block;
	}
	.view_it_container{
		margin-bottom: 15px;
	}
	
	
	/*---------------------footer---------------------*/
	.footer_item:before{
		display: none;
	}
	.footer_top{
		padding: 35px;
		justify-content: space-between;
	}
	
	/*--------------------work_time--------------------*/

	.work_main_bottom_container{	
		padding: 30px 30px 400px;
		background-position: bottom 20% right 15%, bottom right;
		background-size: 38%, 42% 40%;
	}

	/*-----------access------------------*/


	.column_container{
		background-size: 70% 70%;
	}
	.column_info{
		padding: 20px;
	}
	.column_info p{
		font-size: 1.3rem;
	}

	/*------------------photographing------------------*/

	.photographing_text{
		padding-right: 15px;
		margin-right: auto;
	}

	/*------------------museum_store------------------*/

	.tab-link{
		padding: 33px 30px 38px;
	}
	.tab-link:hover{
		padding: 33px 30px 32px;
	}
	.tab-link.active{
		padding: 33px 30px 32px;
	}
	.nav.nav_store{
		margin-left: -30px;
	}
	.item_foto{
	}
	.store_info{
		padding: 0 30px;
	}

	/*------------------exhibition------------------*/

	

	.exhi_column{
		padding-top: 80px;
		padding-bottom: 40px;
		background-size: 54% 100%;
	}


	/*------------------cost------------------*/
	.cost_section{
		padding: 60px 0px 0;
	}
	.cost_section_title h2{
		padding: 0 30px;
	}
	.cost_it_container{
		padding: 20px;
	}
	.sub_cost_item p{
		padding-left: 20px;
	}


	.cost_section_text p{
		padding-left: 30px;
	}
	.cost_btn{
		padding: 11px 20px;
	}

	/*------------------organization-------------------*/

	.contact_form_container{
		margin: 0 -30px;
		max-width: 110%;
		width: calc(100% + 60px);
	}

	/*------------------partners-------------------*/
	.partners_slider_container{
		padding: 10px 64px 60px;
	}

	.partners_slider_it_container{
		margin: 10px;
		height: 320px;
		padding: 30px 0;
	}
	.partners_slider_item img{
		max-width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
	}
	.partners_slider_container .slick-list{
		overflow: hidden!important;
	}
	.partners_slider_container .arrow_btn{
		font-size: 30px;
		width: 64px;
		height: 64px;
		background-color: rgba(18,16,17,.8);
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	}
	.partners_slider_container .btn-prev{
		left: -10px;
	}
	.partners_slider_container .btn-next{
		right: -10px;
	}

	/*------------------volunteers-------------------*/

	.volunteers_info h2{
		width: 86%;
	}

	/*------------------collection-------------------*/


	.collection_text{
		max-width: 250px;
	}
	.sort_body{
		padding: 40px 40px 16px 40px;
		width: 100vw;
	}
	.sort_body.type2{
		width: 100vw;
	}
	.checkbox_item label{
		width: 370px;
	}

	.arrow_btn.type1{
		width: 64px;
		height: 64px;
		font-size: 20px;
	}

	/*----------------------------programs-----------------------------*/

	/*------------------programs-------------------*/

	.programs_info_container{
		padding-left: 15px;
		padding-top: 40px;
		padding-right: 15px;
	}
	.programs_slider_container{
		padding-right: 0px;
	}
	.icons_container{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 40px;
		margin-right: 0;
	}
	.icons_item{
		margin-bottom: 9px;
	}
	.programs_info_list li p{
		font-size: 1rem;
		line-height: 140%;
		margin-left: 15px;
	}

	/*----------------------------about-----------------------------*/

	/*------------------about-------------------*/

	.main_container.back4{
		padding-bottom: 40px;
	}

	.about_container{
		margin: 30px -30px 40px;
		padding: 80px 30px 40px;
	}
	.action_it.type2{
		margin-bottom: 40px;
	}
	
	/*------------------history-------------------*/

	.slider_container.type1{
		margin-top: 60px;
	}

	.history_main.back4{
		padding-bottom: 0;
	}
	.history_section{
		margin-top: 50px;
		padding-top: 80px;
	}

	/*------------------research-------------------*/
	.column_info.type1{
		min-height: auto;
	}
	.research_container{
		margin: 60px -30px 0px;
		padding: 100px 30px 50px;
	}

	.ramp_mod_revers .col-12:nth-child(2) .research_column{
		padding-top: 0px;
	}
	.ramp_mod_revers .col-12:nth-child(1) .research_column{
		padding-top: 30px;
	}
	.ramp_mod .col-12:nth-child(2) .research_column{
		padding-top: 30px;
	}
	.ramp_mod .col-12:nth-child(3) .research_column{
		padding-top: 0px;
	}

	/*------------------about_contact-------------------*/

	.organization_section.type2{
		margin-bottom: -40px;
	}

	/*------------------about_building-------------------*/

	.building_container{
		background-size: 100%, 0 100%;
	}
	.building_container.type1{
		background-size: 0 100%, 100%;
	}
	.main_container.buildings_main{
		padding-bottom: 60px;
	}

	/*------------------about_team-------------------*/

	.team_section{
		margin: 0 -30px;
		padding: 80px 30px;
	}

	/*------------------about_founded-------------------*/


	.work_title.type_founded p{
		font-size: 1rem;
	}
	.founded_container{
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.founded_container.type1{
		background-position: center;
		background-size: 100%;
	}
	.content_container.founded{
		max-width: 1360px;
	}
	.founded_foto_container p{
		margin-bottom: 30px;
	}
	.founded_info_container{
		padding-bottom: 30px;
		padding-top: 30px;
	}

	.founded_container.active{
		background-size: 100%;
	}

	.work_text.founded_text{
		padding-bottom: 30px;
		padding-top: 30px;
	}

	.work_text.founded_text.type1{
		padding-right: 0px;
	}

	/*------------------about_press-------------------*/


	.founded_container.type2{

		background-position: top right;
		background-size: 100%;
	}

	.founded_container.type3{
		margin-top: 80px;
		background-position: center;
		background-size: 100%;
	}

	.founded_container.type2.active{
		background-size: 100%;
	}
	.founded_container.type3.active{
		background-size: 100%;
	}
	.work_text.founded_text.type2{
		padding-right: 0;
	}
	.press_section{
		margin: 80px -30px 0;
		padding: 60px 30px 0;
		background-size: 100%;
	}
	.work_text.founded_text.type2{
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.press_section_info{
		padding: 50px 15px 50px 40px;
	}

	/*------------------about_library-------------------*/

	.library_container{
		background-size: 40% 55%;
		margin-bottom: 60px;
	}

	.library_foto{
		padding-top: 30px;
	}
	
	.library_section_info{
		padding-top: 30px;
		padding-left: 0px;
	}
	.library_section_info h2{
		font-size: 2rem;
		margin-bottom: 35px;
	}

	.library_container.type2{
		background-size: 1714px calc(100% - 60px);
	}
	.library_section_info.type1{
		padding-top: 100px;
		padding-right: 30px;
		margin-bottom: 60px;
	}
	.library_foto_section{
		margin-bottom: 40px;
	}
	.library_section_info.type2{
		padding-left: 0px;
	}

	/*------------------about_examination-------------------*/
	.examination_item_section{
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 1700px 90%;
	}
	.examination_item_section.type1{
		margin-top: 80px;
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 1700px 90%;
	}
	.examination_foto{
		margin-left: 0px;
	}
	.examination_foto.type1{
		margin-right: 0;
	}
	.examination_info_container{
		margin-top: 20%;
	}
	.ex_info_title h2{
		font-size: 2rem;
		margin-bottom: 35px;
	}
	.ex_info_text p{
		font-size: 1rem;
	}
	.ex_info_price h3{
		font-size: 1.88rem;
	}
	.experts_container{
		margin-top: 80px;
	}
	.expert_title h2{
		font-size: 2rem;
		margin-bottom: 30px;
	}
	.expert_item{
		padding: 20px;
		min-height: 180px;
	}
	.expert_info h2{	
		font-size: 1.333rem;
	}
	.expert_info p{
		font-size: 1rem;
	}

}



@media screen and (max-height: 1000px) and (min-height: 900px){
	.main_container.type1{
		min-height: calc(100vh - 108px - 522px);
	}
	.work_title h1{
		font-size: 3rem;
	}

	.main_container.type1.audio_main{
		min-height: calc(100vh - 108px);
	}
}

@media screen and (max-height: 900px) and (min-height: 600px){
	.main_container{
		min-height: calc(100vh);
		padding-bottom: 10px;
	}

	.main_container.type1{
		min-height: calc(100vh - 108px - 375px);
	}

	.main_container.type1.audio_main{
		min-height: calc(100vh);
	}
}


@media screen and (max-width: 991px){
	.nav_toggle{
		display: block;
	}
	.header_time_work{
		display: none;
	}
	.header_seporation.type1{
		display: none;
	}
	nav{
		max-width: 100%;
	}

	.nav-link{
		font-size: 22px;
	}

	.header_seporation.type2{
		display: none;
	}
	.lang_container{
		display: none;
	}
	.lang_container_adaptive.fixed{
		position: fixed;
		top: 454px;
		width: 80%;
		left: 20%;
		padding-left: 50px;
		padding-top: 1px;
		box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25)!important;
	}
	.lang_container.fixed{
		display: flex;
		padding-top: 30px;
		border-top: 1px solid #A6C0CD;
		padding-bottom: 30px;
		margin-right: 50px;
	}
	.logo_container a{
		position: inherit;
		bottom: inherit;
		left: inherit;
	}

	.slider_container{
		max-width: 100%;
		margin: 0 auto;
	}
	.logo_container{
		position: relative;
		width: auto;
		padding-bottom: 0;
		margin-top: 0;
		height: auto;
	}
	.header_top{
		border-bottom: none;
		order: 2;
		width: 100%;
		min-height: 108px;
	}
	.header_bottom{
		order: 1;
		position: absolute;
		top: 9px;
		left: 0;
		min-height: auto;
		padding: 10px;
	}

	.input_search,
	.search_container{
		width: 180px;
	}
	.input_search{
		padding: 8px 40px 8px 20px;
		margin-bottom: 0px;
	}
	.search_btn{
		margin-left: -41px;
	}
	.search_container{
		display: none;
	}

	.search_container.fixed{
		display: block;
		position: fixed;
		top: 63px;
		left: calc(20% + 50px);
		z-index: 100;
	}

	/*-----------view_container------------------*/


	.view_container{
		top: 90px;
		transform: translate(0,0)!important;
		background-color: #000; 
	}

	.logo_container{
		padding: 0;
	}
	nav{
		display: none;
	}
	nav.fixed{
		display: block;
		position: fixed;
		padding-top: 133px;
		padding-bottom: 12px;
		top: 0;
		right: 0;
		width: 80%;
		padding-left: 50px;
		background: #121011;
		box-shadow: 0px -12px 20px rgba(0, 0, 0, 0.25) !important;
		z-index: 100;
	}
	.nav{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.nav-item{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.nav-link{
		padding: 15px 0;
	}
	.nav-link.active{
		padding: 15px 0 12px;
		border-bottom: none;
	}
	.header_container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 970;
		width: 100%;
	}
	.header_container.view{
		position: absolute;
	}
	header{
		height: 108px;
	}
	.button_view{
		margin-right: 80px;
	}


	/*--------------------work_time--------------------*/

	.work_main_bottom_container{	
		padding: 30px 30px 400px;
		background-position: bottom 15% right 15%, bottom right;
		background-size: 50%, 50% 40%;
	}

	/*-----------adress------------------*/
	.adress_bottom_container{
		background-size: 72% 400px;
	}
	.map_container{
		width: 100%;
		height: 600px;
	}

	/*------------------gaide------------------*/

	.gaide_container{
		margin: 0 0px;
		padding: 0 15px;
	}
	.gaide_item{
		padding-top: 40px;
	}
	.gaide_item_container{
		padding-bottom: 60px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.gaide_img_container{
		padding-bottom: 50px;
		background-size: 100% 80%;
		background-position: right bottom;
		margin-bottom: 20px;
	}
	.gaide_img_container img{
		max-width: 90%;
	}

	/*------------------photographing------------------*/

	.photographing_text{
		padding-left: 0;
		padding-right: 0;
		margin: 0 -15px;
		width: calc(100% + 30px);
		max-width: 130%;
		margin-right: 0px;
		padding-bottom: 30px;
	}
	.photographing_img_container{
		margin: 0 -45px 0 -15px;
		width: calc(100% + 60px);
		padding-bottom: 50px;
		background-size: 80% 80%;
		background-position: right bottom;
		background-repeat: no-repeat;
	}

	/*------------------visiting_rules------------------*/


	.visit_text p{
		margin-bottom: 30px;
	}

	.visiting_rules_img_container{
		width: calc(100% + 60px);
		margin: 0 -45px 0 -15px;
		padding: 60px 0 40px 0;
		background-size: 47% 100%;
	}
	.visiting_rules_img_container img{
		max-width: 95%;
		margin-left: 0;
	}
	.visiting_rules_text{
		padding-top: 40px;
		margin-right: 0;
	}

	/*------------------museum_store------------------*/

	.item_foto{
		width: 55%;
	}
	.store_info{
		width: 45%;
		padding: 0 12px 0 30px;
	}

	.store_info_name h2{
		font-size: 1.4rem;
		margin-bottom: 25px;
	}
	.store_price h3{
		font-size: 1.4rem;
	}

	/*------------------actions------------------*/

	.action_container{
		padding: 60px 30px 30px;
	}

	.action_it_foto{
		height: 354px;
	}

	.action_it_info h2{
		font-size: 1.33rem;
	}
	.action_section{
		padding:100px 30px 20px;
		background: linear-gradient(#FFC400 0%, #FFC400 100%);
		background-size: 72% 100% ;
		background-position: left bottom;
		background-repeat: no-repeat;
		background-color: #f2f2f2;
	}
	.action_info_name p{
		margin-bottom: 15px;
	}

	
	/*------------------cost------------------*/
	.cost_item .row{
		min-height: auto;
	}
	.cost_section{
		padding-top: 40px;
	}
	.cost_section_title h2{
		text-align: center;
		margin-bottom: 30px;
	}

	.cost_it_info h3{
		font-size: 2.4rem;
	}
	.head_adaptive{
		display: block;
	}
	.cost_it_container.mod2:after{
		display: none;
	}
	.cost_item_head{
		display: none;
	}
	.cost_item{
		background-color: inherit;
	}
	.cost_it_container.mod1{
		background: inherit;
		justify-content: flex-start;
	}
	.cost_it_container{
		background: #fff;
	}	

	.cost_item.mod1{
		background-color: #fff;
		margin: 0 10px 20px;
		padding: 10px 0;
	}

	.cost_it_container.type1:after{
		display: block;
	}
	.cost_it_container.type1{
		justify-content: flex-start;
		padding: 0 20px 0 40px;
	}

	.cost_section_title.type1{
		padding-top: 80px;
	}

	/*--------------------------JOIN--------------------------*/

	/*------------------homeland-------------------*/

	.work_text.color2{
		padding-bottom: 40px;
	}
	.homelend_section{
		padding: 80px 30px 20px;
	}
	.homeland_info_name p{
		margin-bottom: 26px;	
	}
	.store_info.color2{
		padding: 15px 12px 15px 30px;
	}
	.store_info p{
		max-height: 150px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.download_btn{
		font-size: 18px;
		padding: 8px 35px;
	}
	/*------------------organization-------------------*/

	.organization_section{
		padding: 60px 30px 0;
	}
	.contact_form_container{
		padding: 40px 30px 60px;
	}
	.form_title{
		font-size: 2rem;
		margin-bottom: 30px;
	}
	.input_text{
		font-size: 1rem;
	}
	.input_textatea{
		font-size: 1rem;
		padding: 15px;
	}

	/*------------------collection-------------------*/

	.collection_container{
		padding: 30px 30px 65px;
		margin: 0 -30px 50px;
		background-size: 90% 71%;
		background-position: left top;
		background-repeat: no-repeat;
	}
	.collection_foto_container{
		width: 100%;
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.collection_foto_container img{
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
		max-width: 100%;
	}
	.collection_text{
		position: inherit;
		top: inherit;
		right: inherit;
		bottom: inherit;
		margin-top: 30px;
		max-width: 303px;
		-webkit-order: 3;
		-moz-order: 3;
		-ms-order: 3;
		-o-order: 3;
		order: 3;
		text-align: right;
		margin-left: auto;
	}
	.collection_section_title{
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
		margin-top: 0;
		margin-bottom: 30px;
	}

	.collection_section_title h2{
		font-size: 2.4rem;
	}

	.collection_section_title.type2{
		padding-top: 20px;
		justify-content: flex-start;
	}
	.collection_container.type2{
		padding-top: 40px;
		padding-bottom: 60px;
		margin-bottom: 0;
		background-size: 90% 60%;
		background-position: left top 40px;
		background-repeat: no-repeat;
	}
	.collection_text.type2{
		left: inherit;
		bottom: inherit;
	}

	/*------------------selected-------------------*/
	.selected_item{
		margin-bottom: 30px;
	}
	.selected_item_info {
		padding: 30px;
	}
	.selected_item_info p{
		max-width: 100%;
		text-align: center;
	}

	/*------------------collection_page-------------------*/

	.work_title.type_coll_page h1:after{
		display: block;
	}
	.collection_page_title_foto{
		order: 2;
	}
	.collection_page_container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.collection_link_container{
		display: none;
	}
	.collection_page_link{
		order: 1;
		margin-left: 0;
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.collection_page_info{
		order: 3;
		margin: 0 -20px;
	}
	.collection_info_type{
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.collection_info_type.type1{
		padding-bottom: 60px;
	}
	.sort_body_flex.mod1 .checkbox_item{
		width: 50%;
	}
	.checkbox_item label{
		width: 100%;
	}

	.arrow_btn.type1{
		width: 40px;
		height: 40px;
		font-size: 14px;
	}

	/*----------------------------programs-----------------------------*/

	/*------------------programs-------------------*/

	.programs_info_container{
		padding-left: 30px;
		padding-top: 40px;
		padding-right: 30px;
	}

	.slider_container.type2{
		margin-top: 10px;
	}

	/*------------------about_collection-------------------*/
	.item_sub_text{
		padding: 30px;
		width: 100%;
	}

	.building_container{
		margin: 40px -30px;
		padding: 40px 30px 35px;
	}


	.bild_section_title h2{
		font-size: 2rem;
		margin-bottom: 30px;
	}

	.work_text.mod1{
		padding-bottom: 0;
	}

	/*------------------about_founded-------------------*/

	.founded_foto_container{
		margin: 0 auto;
	}
	.founded_foto_container p{
		margin-bottom: 0px;
	}
	.work_text.founded_text{
		padding-top: 0px;
		padding-bottom: 30px;
	}
	.founded_container.type1{
		margin-top: 60px;
	}

	.press_section_info h2{
		font-size: 1.55rem;
		margin-bottom: 21px;
	}
	.press_section_info p{
		font-size: 1.55rem;
		margin-bottom: 0;
	}

	.ex_bottom_section span{
		font-size: 1.55rem;
	}
}

@media screen and (max-width: 767px){

	.work_title h1{
		font-size: 	2rem;
	}

	/*--------------------work_time--------------------*/
	.way_list_container .way_list_link:last-child{		
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin-right: 0;	
	}
	.work_main_bottom_container{	
		padding: 30px 30px 430px;
		background-position: bottom 10% right 25%, bottom right;
		background-size: 80%, 80% 50%;
	}

	.time_work{
		padding: 15px 20px 15px 10px;
		min-width: inherit;
	}
	.time_work.type1{
		margin-top: 15px;
		padding: 15px 10px 15px 20px;
	}
	.day_no_work,
	.day_work{
		padding: 10px 0;
	}

	.day_name{
		padding: 0 10px;
	}

	.column_info{
		padding: 25px;
	}

	.column_foto{
		position: relative;
		height: auto;
	}
	.column_foto img{
		position: inherit;
		top: inherit;
		left: inherit;
		transform: translate(0 , 0);
		height: auto;
		width: 100%;
		box-sizing:border-box;
		
	}

	/*------------------museum_store------------------*/

	.store_head{
		margin-top: 40px;
	}
	
	.tab-content{
		margin-top: 40px;
	}

	.store_item{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 30px;
		height: 100%;
	}
	.item_foto{
		width: 100%;
	}
	.item_foto img{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		display: block;
	}
	.store_info{
		width: 100%;
		padding: 15px 30px;
	}
	.store_info_name{
		padding-bottom: 30px;
	}

	/*------------------cost------------------*/

	.cost_it_container.type1:after{
		display: none;
	}
	.cost_it_container.type1{
		justify-content: flex-start;
		padding: 0 20px;
	}
	.cost_it_price,
	.cost_it_btn{
		-ms-align-items: flex-start;
		align-items: flex-start;
		padding: 10px 20px;
	}

	/*------------------partners-------------------*/

	.partners_slider_container{
		width: calc(100% + 60px);
		margin: 0 -30px 60px;
		padding: 10px 0 0;
	}

	/*------------------volunteers-------------------*/

	.volunteers_container{
		padding-top: 60px;
	}
	.volunteers_item{
		margin-bottom: 30px;
	}

	.sort_body.type2{
		width: 570px;
	}
	.sort_body.type1{
		width: 360px;
	}
	.sort_body{
		padding: 20px 20px 6px 20px;
	}

	/*------------------about-------------------*/

	.action_it.type2{
		margin-bottom: 30px;
	}

	/*------------------research-------------------*/


	.ramp_mod_revers .col-12:nth-child(2) .research_column{
		padding-top: 0px;
	}
	.ramp_mod_revers .col-12:nth-child(1) .research_column{
		padding-top: 0px;
	}
	.ramp_mod .col-12:nth-child(2) .research_column{
		padding-top: 0px;
	}
	.ramp_mod .col-12:nth-child(3) .research_column{
		padding-top: 0px;
	}

	/*------------------about_collection-------------------*/
	.item_sub_text{
		padding-top: 0;
	}


	.about_contact_it{
		padding: 30px 5px 26px 30px;
		margin-bottom: 10px;
	}

	/*------------------about_library-------------------*/

	.library_container{
		margin: 0 -30px 40px;
		background-size: 80% 40%;
	}
	.library_foto{
		max-width: 627px;
		margin-left: auto;
	}
	.library_section_info h2{
		font-size: 1.8rem;
		margin-bottom: 39px;
	}
	.library_section_info{
		padding-top: 50px;
	}

	.library_foto_section{
		max-width: 750px;
		margin-left: auto;
		margin-bottom: 65px;
	}
	.library_foto_section img{
		box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.25);
		width: 100%;
		box-sizing: border-box;
	}
	.library_section_info.type2{
		display: none;
	}
	.library_section_info.type1{
		padding-top: 0;
		padding-right: 0;
		max-width: 100%;
	}

	/*------------------about_examination-------------------*/
	.examination_item_section{
		margin: 0px -30px 0;
		padding: 0 30px;
	}
	.examination_item_section.type1{
		margin-top: 60px;
	}
	.examination_foto{
		max-width: 100%;
	}
	.examination_foto.type1{
		max-width: 100%;
	}
	.examination_info{
		max-width: 100%;
	}
	.examination_info.type1{
		max-width: 100%;
	}
	.examination_info_container{
		margin-top: 40px;
		padding-bottom: 40px;
	}

	.partners_slider_container .arrow_btn{
		font-size: 15px;
		width: 40px;
		height: 40px;
		z-index: 400;
	}
	.partners_slider_container .btn-prev{
		left: 10px;
	}
	.partners_slider_container .btn-next{
		right: 10px;
	}
}

@media screen and (max-width: 575px){

	h1{
		font-size: 1.3rem;
	}
	h2{
		font-size: .8rem;
	}
	header{
		height: 52px;
	}
	.dropright .dropdown-menu{
		margin-left: -100%;
	}
	.view_container{
		padding:15px 0;
		justify-content: space-around;

		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;	
		-ms-align-items: center;
		align-items: center;
	}
	.view_container{
		top: 52px;
	}
	.color_container{
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
	}

	.view_it_container.type1{
		max-width: 260px;
		padding: 0;
		margin: 0 auto;
	}
	.color_type{	
		width: 258px;
		margin: 0 auto;
	}
	.color_it{
		margin: 6px 0;
	}
	.view_it_sep{
		width: 260px;	
		height: 1px;	
		display: block;
		margin: 20px 0;
	}
	.fonts_container{
		padding-top: 0;
	}
	.view_title.mod1 p{
		margin-bottom: 10px;
	}
	.view_it_container{
		width: 100%;
		max-width: 320px;
	}
	.button_close{
		top: 19px;
		right: 8px;
	}
	.button_close.type1{
		top: 45px;
	}
	.lang_container_adaptive.fixed{
		position: fixed;
		top: 365px;
		width: 80%;
		left: 20%;
		padding-left: 30px;
	}

	.lang_container.fixed{
		padding-top: 20px;
		margin-right: 30px;
	}

	.search_container.fixed{
		display: block;
		position: fixed;
		top: 63px;
		left: calc(20% + 30px);
	}
	.nav-link{
		padding: 8px 0;
	}

	nav.fixed{
		display: block;
		position: fixed;
		padding-top: 113px;
		padding-bottom: 13px;
		top: 0;
		right: 0;
		width: 80%;
		padding-left: 30px;
		background: #121011;
		box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
	}
	
	
	.nav_toggle{
		width: 18px;
		top: 16px;
		right: 20px;
	}
	.nav_toggle.active{
		right: 15px;
	}


	.nav_toggle_item{
		height: 2px;
	}


	.nav_toggle_item:before,
	.nav_toggle_item:after{
		height: 2px;
	}


	.nav_toggle.active .nav_toggle_item:before{
		transform-origin: left top;
		transform: rotate(45deg)
		translateX(-3px);
	}

	.nav_toggle.active .nav_toggle_item:after{
		transform-origin: left bottom;
		transform: rotate(-45deg)
		translateX(-3px);
	}

	.nav_toggle_item:before{
		top: -5px;
	}

	.nav_toggle_item:after{
		bottom: -5px;
	}

	.header_time_work{
		display: none;
	}
	.header_seporation.type1{
		display: none;
	}

	.header_seporation.type2{
		display: none;
	}
	.header_top{
		border-bottom: none;
		order: 2;
		width: 100%;
		min-height: 53px;
	}
	.header_bottom{
		padding: 10px;
		top: 0;
	}
	.button_view{
		margin-right: 50px;
		width: 50px;
		height: 50px;
		font-size: 22px;
	}
	.logo_img span{
		font-size: 32px;
	}
	/*---------------main-------------------*/
	.main_title{
		padding-top: 21px;
		padding-bottom: 38px;
	}
	.main_title h1{
		text-align: left;
	}
	.main_title h1:after{
		width: 50%;
		height: 8px;
		left: 0;
		transform: translate(0,0);
	}

	.main_container{
		padding: 0 20px;
		min-height: auto;
	}

	/*---------------slider-------------------*/

	.slider_container{
		width: calc(100% + 30px);
		max-width: calc(100% + 30px);
		margin: 0 -15px;	
		padding-bottom: 60px;
	}
	.slider_foto img{
		max-height: 200px;
	}

	.slider_info h2{
		width: 100%;
		margin: 0 auto;
		padding: 20px 5px;
	}
	.slider_btn_container{
		margin-top: -40px;
		width: 120px;
		margin-bottom: 30px;
	}
	.btn_pause,
	.btn_play{
		width: 42px;
		height: 42px;
	}
	.btn_play span,
	.btn_pause span{
		font-size: 30px;
		padding-left: 2px;
	}
	.arrow_btn{
		width: 28px;
		height: 28px;
		font-size: 12px;

	}
	
	/*---------------------footer---------------------*/
	.footer_top{
		padding: 42px 0 20px;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.logo_footer_container{
		margin: 0 auto;
		padding-bottom: 37px;
	}
	.footer_logo_comp{
		display: block;
		width: 100%;
		max-width: 240px;
		height: 83px;
		padding: 23px 26px 0 26px;
		margin: 0 auto;
		border-top: 1px solid #BDBDBD;
	}

	.footer_logo_comp img{
		box-sizing: border-box;
		width: 100%;
	}
	.footer_bottom{
		height: auto;
		padding-bottom: 8px 0 3px 0;
	}
	.footer_bottom a{
		padding: 6px;
		max-width: 50%;
	}
	.footer_bottom a{
		padding: 6px;
		max-width: 20%;
	}
	.footer_bottom a:nth-child(2){
		max-width: 10%;
	}
	.footer_bottom a:nth-child(n + 7){
		max-width: 35%;
	}
	.footer_bottom img{
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		max-width: 100%;
		width: 100%;

	}
	.footer_item{
		padding-left: 33px;
		position: relative;
		padding-right: 0px;
		margin: 0 0 37px 30px;
	}
	.footer_item:before{
		display: none;
	}
	.footer_bottom a:last-child{
		display: none;
	}

	/*--------------------work_time--------------------*/
	.way_list{
		padding: 10px 0;
	}
	.way_list_container{
		margin: 0 -20px;
		padding: 0 20px;
		border-bottom: none;
	}
	.time_work_container span{
		margin-left: 10px;
	}
	

	.way_list a span{
		position: absolute;
		font-size: 8px;
		top: 50%;
		right: -28px;	
		transform: rotate(-90deg) translate(22%, 0);
	}
	.work_title{
		padding-top: 21px;
		margin-bottom: 24px;
	}
	.work_title h1{
		font-size: 1.4rem;
	}
	.work_title h1:after{
		height: 8px;
		bottom: 0px;
		left: -3px;
	}
	.worK_text_link:hover{
		color: #333333;
		text-decoration: none;
	}
	.work_main_bottom_container{
		padding: 30px 0px 350px;
		background-position: bottom 15% left 30%, bottom right;
		background-size: 80%, 85% 40%;
	}


	.time_work{
		padding: 15px 8px 15px 0px;
		min-width: inherit;
		width: 100%;
	}
	.time_work.type1{
		margin-top: 15px;
		padding: 15px 0px 15px 8px;
	}
	.day_no_work,
	.day_work{
		padding: 10px 0;
	}

	.day_name{
		padding: 0 10px;
	}
	.day_name span{
		font-size: .87rem;
	}
	.name_day_container{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	/*-----------adress------------------*/

	.adress_container{
		padding-bottom: 20px;
	}
	.adress_body{
		padding: 20px;
	}
	.adress_title span{
		font-size: 1.1rem;
		margin-right: 10px;
	}
	.adress_title h2{
		font-size: 1rem;
	}
	.adress_body p{
		margin-top: 13px;
		font-size: 1.1rem;
		line-height: 1.4

	}

	.adress_bottom_container{
		padding: 20px 20px 60px;
		background-color: #f2f2f2;
		background-image: none;
	}
	.button_show{
		font-size: 18px;
		padding: 10px 2px;
	}

	.video_container{
		display: none;
	}
	.map_container{
		width: 100%;
		height: 320px;
	}
	.section_button{
		margin: 0 -12px;
		padding: 10px 0;
		margin-bottom: 30px;
	}
	/*-----------access------------------*/

	.type_access{
		padding-bottom: 26px;
	}
	.column_container{
		padding-top: 30px;
		padding-bottom: 40px;
		background-size: 75% 100%;
	}
	.container_section{
		padding: 0 20px;
	}
	.column_foto img{
		height: auto;
	}
	.column_info{
		padding: 15px;
		
		margin-bottom: 20px;
	}
	.column_info p{ 
		font-size: 1rem;
	}

	.text_video_container{
		padding: 30px 20px 40px 20px;
	}
	.video_container.type1{
		width: calc(100% + 20px);
		margin-top: 30px;
		display: block;
		margin: 30px -10px 0;
	}

	/*------------------gaide------------------*/

	.gaide_container{
		margin: 0 0px;
		padding: 0 15px;
	}
	.gaide_item{
		padding-top: 24px;
	}
	.gaide_item_container{
		margin: 0 -15px;
		padding-bottom: 52px;
	}
	.gaide_title{
		padding-top: 15px;
		color: #141414;
		padding-bottom: 12px;
	}
	.gaide_img_container{
		width: calc(100% + 50px);
		padding-bottom: 24px;
		background-size: 100% 80%;
		margin-left: -15px;
		margin-right: -35px;
		background-position: right bottom;
		margin-bottom: 6px;
	}
	.gaide_img_container img{
		max-width: 90%;
	}

	/*------------------photographing------------------*/

	.photographing_text{
		padding-bottom: 0;
	}

	.photographing_img_container{
		margin: 0 -35px 0 -15px;
		width: calc(100% + 50px);
		padding-bottom: 35px;
		background-size: 95% 90%;
		background-position: right bottom;
		background-repeat: no-repeat;
	}
	.photographing_img_container img{
		box-sizing: border-box;
		max-width: 90%;
		box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.25);
	}

	/*------------------visiting_rules------------------*/


	.visit_text p{
		margin-bottom: 30px;
	}

	.visiting_rules_img_container{
		width: calc(100% + 50px);
		margin: 0 -35px 0 -15px;
		padding: 40px 0 30px 0;
		background-size: 47% 100%;
	}
	.visiting_rules_img_container img{
		max-width: 85%;
		margin-left: 0;
	}
	.visiting_rules_text{
		padding-top: 30px;
	}


	/*------------------museum_store------------------*/
	.store_head{
		margin: 0 0px;
		padding: 0 ;
		width: 100%;
		margin-top: 35px;
	}
	.tab-item{
		text-align: center;
		width: 50%;
		margin-right: 0px;
		color: #231F20;
		padding: 12px 0 16px;
	}
	.tab-link{
		width: 100%;
		padding: 10px 0 13px;
		font-size: 1rem;
	}
	.tab-link:hover{
		padding: 10px 20px 9px;
		border-bottom: 4px solid #231F20;
	}
	.tab-link.active{
		padding: 10px 20px 9px;
		border-bottom: 4px solid #231F20;
	}
	.nav.nav_store{
		margin-left: 0px;
	}
	.store_item{
		margin-bottom: 20px;
	}

	.tab-content{
		margin-top: 30px;
		padding-bottom: 40px;
	}

	.store_info{
		width: 100%;
		padding: 20px 10px 20px 20px;
	}
	.store_info_name{
		padding-bottom: 30px;
	}
	.store_info_name h2{
		font-size: 1.33rem;
	}
	.store_price h3{
		font-size: 1.33rem;
	}

	/*------------------exhibition------------------*/

	.exhi_slider{
		background-color: #f2f2f2;
		overflow: hidden;
		padding-top: 25px;
		padding-bottom: 0px;
		padding-left: 15px;
		padding-right: 15px;
	} 
	.exhi_slider .slider_container{
		padding-bottom: 40px;
	}

	.exhi_column{
		padding-top: 30px;
		padding-bottom: 60px;
		background-size: 75% 100%;
	}


	/*------------------actions------------------*/

	.main_container.action_main{
		min-height: auto!important;
		padding-bottom: 60px;
	}
	.action_container{
		padding: 40px 20px 20px;
	}
	.action_it{
		margin-bottom: 20px;
	}
	.action_it_foto{
		height: 250px;
	}
	.action_it_info h2{
		font-size: 1.33rem;;
		padding: 15px;
	}
	.action_section{
		padding:60px 20px 60px;
		background: linear-gradient(#FFC400 0%, #FFC400 100%);
		background-size: 72% 100%;
		background-position: left bottom;
		background-repeat: no-repeat;
		background-color: #f2f2f2;
	}


	/*------------------cost------------------*/
	.cost_section{
		margin: 0 -20px;
		padding-top: 20px;
	}
	.cost_section_title h2{
		font-size: 1.33rem;
		margin-bottom: 15px;
	}
	.cost_it_info h3{
		font-size: 1.33rem;
	}
	.cost_item{
		margin-bottom: 7px;
	}

	.sub_cost_item p{
		font-size: 1rem;
		padding-bottom: 11px;
	}
	.cost_it_head h4{
		font-size: 1rem;
		padding: 18px 0;
	}
	.free_entry_container{
		padding: 30px 0; 
	}
	.free_entry_title h2{
		font-size: 1.33rem;
		padding-bottom: 25px;
	}

	.free_list_title h3{
		font-size: 1rem;
		margin-bottom: 10px;
	}

	.cost_it_container.type1{
		justify-content: flex-start;
		padding: 0 20px;
	}
	.cost_section_text p{
		padding-left: 0;
		text-align: center;
		margin-bottom: 20px;
		font-size: 1rem;
	}
	.cost_item.mod1{
		margin-bottom: 10px;
	}
	.cost_it_price,
	.cost_it_btn{
		-ms-align-items: flex-start;
		align-items: flex-start;
		padding: 10px 20px;
	}
	.cost_it_price h3{
		font-size: 1.33rem;
	}
	.cost_it_price p{
		font-size: 1rem;
		text-align: left;
	}
	.cost_it_info.type1 h2,
	.cost_it_info.type1 p{
		font-size: 1rem;
	}
	.cost_btn{
		font-size: 18px;
	}

	.cost_section_title.type1{
		padding-top: 40px;
	}
	.cost_section.type2{
		padding-bottom: 50px;
	}

	/*--------------------------JOIN--------------------------*/

	/*------------------homeland-------------------*/

	.work_text.color2{
		padding-bottom: 40px;
	}
	.homelend_section{
		margin: 0 -20px;
		width: calc(100% + 40px);
		padding: 30px 20px 40px;
		background-size: 75% 100%;
	}
	.homeland_info_name p{
		margin-bottom: 26px;	
	}
	.store_info.color2{
		padding: 15px 12px 15px 20px;
	}
	.store_info p{
		max-height: 150px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.download_btn{
		font-size: 18px;
		padding: 8px 35px;
	}

	/*------------------cartriges-------------------*/

	.slider_container.type5{
		padding-bottom: 60px;
	}

	/*------------------organization-------------------*/

	.organization_section{
		margin: 0 -20px;
		width:calc(100% + 40px);
		padding: 0;
	}
	.contact_form_container{
		width: 100%;
		padding: 30px 20px 60px;
		margin: 0 ;
	}

	.form_title{
		font-size: 1.33rem; 
		margin-bottom: 25px;
	}
	.input_text{
		width:100%;
		font-size: 1rem;
		padding: 15px 20px;
		margin-bottom: 10px;
	}
	.input_textatea{
		font-size: 1rem;
		padding: 15px 20px;
		margin-bottom: 20px;
	}
	.input_btn{
		font-size: 1rem;
		padding: 10px 0;
		width: 280px;
	}

	/*------------------partners-------------------*/

	.partners_slider_container{
		width: calc(100% + 40px);
		margin: 10px -20px 60px;
		padding: 0;
	}
	.partners_slider_container .arrow_btn{
		font-size: 13px;
		width: 28px;
		height: 28px;
		z-index: 400;
	}
	.partners_slider_it_container{
		margin: 0 7px;
		height: 230px;
		padding: 10px;
	}

	/*------------------volunteers-------------------*/

	.download_btn_container{
		margin-top: 30px;
		margin-bottom: 11px;
	}
	.volunteers_container{
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.volunteers_item{
		margin-bottom: 20px;
	}
	.volunteers_info{
		padding: 15px;
	}
	.volunteers_info h2{
		font-size: 1rem;
		width: 100%;
		text-align: center;
	}

	/*------------------collection-------------------*/

	.collection_container{
		padding: 20px 20px 0px;
		margin: 0 -20px 36px;
		background-size: 90% 80%;
		background-position: left top;
		background-repeat: no-repeat;
	}
	.collection_text{
		margin-top: 20px;
		max-width: 214px;
	}
	.collection_text p{
		font-size: .55rem;
	}

	.collection_section_title h2{
		font-size: 1.33rem;
	}

	.collection_section_title.type2{
		padding-top: 20px;
	}
	.collection_container.type2{
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 0;
		background-size: 90% 67%;
		background-position: left top 30px;
		background-repeat: no-repeat;
	}
	.collection_text.type2{
		left: inherit;
	}

	/*------------------selected-------------------*/
	.selected_item{
		margin-bottom: 20px;
	}
	.selected_item_info {
		padding: 15px;
	}

	/*------------------collection_page-------------------*/
	.work_title.type_coll_page h1{
		font-size: 1.33rem;
	}
	.way_list_link.type2{
		display: none;
	}
	.collection_page_title_foto img{
		max-height: 300px;
	}

	.way_list_link.type1 {
		font-weight: 600;
		margin-right: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.way_list_link.type1 span{
		display: none;
	}
	.collection_page_title_foto{
		margin: 0 -20px;
	}
	.collection_page_link{
		order: 1;
		margin-left: 0;
		padding-top: 20px;
		padding-bottom: 25px;
		margin-right: 0;
	}
	.collection_info_type{
		padding: 30px 20px 60px;
	}
	.collection_info_type.type1{
		padding: 30px 20px;
	}
	.collection_page_info{
		width: calc(100% + 40px);
	}
	.collection_info_type.type1 h2{
		font-size: 1.33rem;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.collection_info_type.type1 p{
		font-size: 1rem;
		max-width: 100%;

	}
	.collection_info_item{
		max-width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: 0;
		margin-bottom: 15px;
	}
	.collection_info_item_name h4{
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-all;
		line-break: auto;
	}

	.arrow_btn.type1{
		top: inherit;
		bottom: 0;
		right: 15px;
		transform: translate(0);
	}
	.arrow_btn.type1.btn-prev{
		top: inherit;
		bottom: 0;
		right: inherit;
		left: 15px;
		transform: translate(0) rotate(180deg);
	}

	.collection_info_item_name{
		width: 100%;
	}
	.collection_info_item_text{
		padding-left: 0px;
		width: 100%;
	}
	/*------------------all_collection-------------------*/
	.all_coll_content{
		width: calc(100% + 40px);
		margin: 0 -20px 22px;
		padding: 0 20px 40px;
		background-size: 90% 100%;
	}
	.all_coll_item{
		margin-bottom: 20px;
	}

	.sort_coll_container{
		justify-content: flex-start;
		padding-bottom: 30px;
	}
	.sort_title{
		width: 100%;
	}

	.sort_head{
		width: 100%;
		padding: 10px 0;
		border: 1px solid transparent;
		margin: 0;
	}
	.show .sort_head,
	.sort_head:hover{
		color: #A6C0CD;
		background: transparent;
		border: 1px solid transparent;
	}
	.show .sort_head span{
		transform: rotate(180deg);
	}

	.dropdown-menu{
		position: relative!important;
		transform: none!important;
		border: none;
	}

	.sort_item_container{
		position: relative;
		width: 100%;
	}
	.sort_body{
		padding: 0;
		padding-top: 15px;
		width: 100%;
		background: transparent;
		box-shadow: inherit;
	}
	.sort_body.type2{
		width: 100%;
	}
	.sort_body.type1{
		width: 100%;
	}
	.check_input{
		width: 100%;
	}
	.sort_body_flex.mod1 .checkbox_item{
		width: 100%;
	}
	.check_input label{
		
	}
	.sort_body_flex{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.sort_body_flex .sort_body_column:last-child{
		margin-right: 0;
	}
	.sort_body_column{
		margin-right: 70px;
	}
	.checkbox_item label{
		padding-left: 44px;
		width: 100%;
	}
	.sort_body_flex.type1 .checkbox_item{
		width: 100%;
	}
	.sort_body_flex.type2 .checkbox_item{
		width: 100%;
	}
	
	/*----------------------------programs-----------------------------*/

	/*------------------programs-------------------*/

	.programs_btn_container{
		margin: 30px 0 40px;
	}

	.programs_btn{
		width: 290px;
		font-size: 18px;
	}
	.btn_modal_close{
		display: none;
	}

	.modal-header{
		padding: 30px 20px 0px;
	}
	.modal-header h5{
		font-size: 1.33rem;
	}
	.modal-header p{
		margin-top: 8px;
	}

	.modal-body{
		padding: 20px;
	}

	.modal_text,
	.modal_comment{
		font-size: 1rem;
		padding: 19px 20px;
		margin-bottom: 10px;
	}
	.modal_submit{
		width: 100%;
	}

	.tab-item.type2{
		width: 30%;
	}
	.tab-item.type2.active{
		width: 30%;
		border-bottom: 4px solid #fff;
	}
	.tab-item.type2 a{
		width: 30%;
		padding-left: 0;
		padding-right: 0;
		border: none;
	}
	.nav.nav-program{
		justify-content: space-between;
	}
	.programs_container{
		margin: 0 0px;
		padding-top: 30px;
	}
	.programs_container_top{
		padding: 0 20px;
	}
	.programs_body_container{
		padding: 0px 10px 20px;
		margin-top: 35px;
	}
	.programs_radio{
		margin-bottom: 20px;
		justify-content: space-between;
	}
	.radio_it label{
		padding-left: 36px;
		margin-right: 0;
	}
	
	.programs_item{
		margin-bottom: 20px;
	}

	.programs_info_container{
		padding: 20px;
	}
	.programs_info_title h2{
		font-size: 1.33rem;
	}
	.programs_info_text p{
		font-size: 1rem;
		margin-bottom: 20px;
	}
	.icons_container{
		margin-bottom: 20px;
	}
	.icons_item{
		font-size: 40px;
		width: 50px;
		height: 50px;
	}
	.icons_item.mod1{
		font-size: 32px;
	}
	.programs_info_price{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 10px;
		padding-top: 20px;
	}
	.programs_slider_container{
		padding-right: 0;
	}
	.programs_info_price h3{
		font-size: 1.33rem;
		order: 2;
		margin-top: 25px;
	}

	.programs_btn_info{
		order: 1;
	}
	.slider_btn_container.type1{
		margin-top: 30px;
		margin-bottom: 20px;
	}

	/*------------------about-------------------*/

	.main_container.back4{
		padding-bottom: 0px;
	}

	.about_container{
		margin: 30px -20px 30px;
		padding: 30px 20px 0px;
		background-size: 100% 100%;
	}
	.action_it.type2{
		margin-bottom: 30px;
	}
	.work_text.type_about{
		padding-bottom: 0;
	}

	/*------------------virtual_tour-------------------*/


	.work_title.type_tour{
		margin-bottom: 35px;
	}
	.work_title.type_tour p{
		margin-top: 20px;
	}
	.main_container.back4.mod1{
		padding-bottom: 40px;
	}
	.virtual_info_name p{
		margin-bottom: 0;
	}
	.virtual_info_name p:nth-child(2){
		margin-bottom: 30px;
	}

	/*------------------history-------------------*/

	.slider_container.type1{
		margin-top: 25px;
	}

	.history_main{
		padding-bottom: 0;
	}

	.history_section{
		margin: -20px -20px 0;
		padding: 30px 20px 40px;
	}

	.slider_container.type2{
		margin-top: 45px;
	}
	
	/*------------------research-------------------*/

	.research_container{
		margin: 40px -20px 0px;
		padding: 40px 20px 40px;
		background-size: 75% 100%;
	}

	/*------------------about_collection-------------------*/


	.about_collection{
		padding: 40px 20px 40px;
		margin: 0 -20px;
		background-size: 75% 100%;
	}
	.about_collection_info_name p{
		margin-bottom: 36px;
	}


	.main_container.collection_main{
		padding-bottom: 0;
	}

	.about_collection{
		padding: 40px 20px 40px;
		margin: 0 -20px;
		background-size: 75% 100%;
	}

	.item_sub_text{
		padding: 0px 20px 20px;
		width: 100%;
	}

	/*------------------about_contact-------------------*/

	.contact_container{
		padding-top: 0px;
		padding-bottom: 10px;
	}
	.about_contact_it{
		padding: 20px 5px 6px 20px;
	}
	.contact_it_text span{
		font-size: .8rem;
	}
	.map_container.type1{
		margin: 0 -20px;
		width: 100vw;
	}
	.contact_button{
		margin-top: 20px;
	}
	.organization_section.type2{
		margin-bottom: 0;
	}
	
	/*------------------about_building-------------------*/

	.building_container{
		margin: 40px -20px;
		padding: 40px 20px 20px;
	}

	.bild_section_title h2{
		font-size: 1.33rem;
		margin-bottom: 20px;
	}
	.work_text.mod1{
		padding-bottom: 0;
	}
	.slider_container.type1.mod1{
		margin-top: 0;
		padding-bottom: 60px;
	}
	.main_container.buildings_main{
		padding-bottom: 40px;
	}


	/*------------------about_team-------------------*/

	.team_section{
		margin: 0 -20px;
		padding: 30px 20px;
	}
	.team_section.type1{
		background-size: 100%;
	}
	.team_section.type2{
		background-size:100%;
	}
	.team_title h2{
		font-size: 1.33rem;
		margin-bottom: 15px;
	}
	.team_title p{
		margin-bottom: 20px;
	}
	.team_item{
		height: calc(100% - 20px);
		margin-bottom: 20px;
	}
	.team_foto{
		height: 280px;
	}
	.team_info{
		padding: 10px 20px 10px;
	}
	.team_info h3{
		font-size: 1rem;
		margin-bottom: 10px;
	}
	.team_info p{
		font-size: .8rem;
	}

	/*------------------about_founded-------------------*/

	.type_founded h1:after{
		display: block;
	}
	.work_title.type_founded p{
		font-size: 1rem;
		padding-top: 0;
	}
	.founded_container{
		margin: 0 -20px;
		padding: 0px;
		background-position: center;
		background-size: calc(100% - 20px) 100%;
	}
	.founded_container.type1{
		margin-top: 40px;
		margin-bottom: 60px;
		background-position: center;
		background-size: calc(100% - 20px) 100%;
	}
	.founded_container.active{
		background-size: calc(100% - 20px) 100%;
	}
	.founded_foto_container p{
		display: none;
	}
	.founded_info_container,
	.founded_info_container.type1{
		padding: 25px 30px 15px;
	}

	.work_text.founded_text{
		padding: 0px 30px 25px;
	}

	/*------------------about_press-------------------*/

	.press_section{
		margin: 40px -20px 0;
		padding: 24px 0px 0;
	}
	.press_section_info{
		max-width: 86%;
		margin-left: auto;
		margin-right: 0;
		padding: 17px 15px;
	}
	.work_text.founded_text.type2{
		padding: 0 30px 30px;
	}
	.founded_container.type3{
		margin-top: 40px;
	}
	.press_section_info h2{
		font-size: 1rem;
		margin-bottom: 10px;
	}
	.press_section_info p{
		font-size: 1rem;
	}
	.press_section_info p span{
		display: none;
	}
	.download__btn_press{
		padding: 8px 15px;
	}

	/*------------------about_library-------------------*/

	.library_container{
		margin: 0 -20px 30px;
		background-size: 85% 230px;
	}
	.library_content{
		padding: 0 20px;
	}
	.library_foto{
		padding-top: 30px;
		text-align: right;
	}
	.library_foto img{
		width: 90%;
	}
	.library_section_info{
		padding-top: 20px;
	}
	.library_section_info h2{
		font-size: 1.333rem;
		margin-bottom: 20px;
	}
	.library_section_info p{
		line-height: 140%;
		margin-bottom: 20px;
	}

	.library_container.type2{
		margin: 0 -20px;
		background-size: 1714px calc(100% - 40px);
	}
	.library_section_info ul li{
		line-height: 140%;
	}
	.library_foto_section{
		margin-bottom: 20px;
	}

	/*------------------about_examination-------------------*/
	.examination_item_section{
		margin: -20px -20px 0;
		padding: 0 20px;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: calc(100% - 40px) 90%;
	}
	.examination_item_section.type1{
		margin-top: 30px;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: calc(100% - 40px) 90%;
	}
	.examination_foto{
		max-width: calc(100% + 40px);
		margin: 0 -20px;
	}
	.examination_foto.type1{
		margin: 0 -20px;
		max-width: calc(100% + 40px);
	}
	.examination_info{
		padding: 20px;
	}
	.examination_info.type1{
		padding: 20px;
	}
	.examination_info_container{
		margin: 0;
	}
	.ex_info_title h2{
		font-size: 1.33rem;
		margin-bottom: 15px;
	}
	.ex_info_text p{
		font-size: 1rem;
		margin-bottom: 19px;
	}
	.ex_info_price h3{
		font-size: 1.33rem;
	}

	.experts_container{
		margin-top: 54px;
		margin-bottom: -10px;
	}
	.expert_title h2{
		font-size: 1.333rem;
		margin-bottom: 15px;
	}
	.expert_item{
		padding: 22px;
		min-height: 100px;
		margin: 0 -10px 10px;
	}
	.expert_info h2{	
		font-size: 1.333rem;
		margin-bottom: 5px;
	}
	.expert_info p{
		font-size: 1rem;
	}

	.ex_bottom_section{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.ex_bottom_section span{
		display: none;
	}
	.ex_bottom_section p{
		margin-right: 0;
	}


}


@media screen and (max-height: 600px) and (max-width: 991px){

	.lang_container_adaptive.fixed{
		position: fixed;
		top: 276px;
	}
	.lang_container.fixed{
		padding-top: 13px;
		padding-bottom: 15px;
	}

	.search_container.fixed{
		top: 15px;
	}
	.nav-link{
		padding: 8px 0;
		font-size: 18px;
	}
	.nav-link.active{
		padding: 8px 0;
	}

	nav.fixed{
		padding-top: 60px;
		padding-bottom: 13px;
	}
}

@media screen and (max-height: 450px) and (max-width: 700px) and (min-width: 575px){
	.header_top {
		border-bottom: none;
		order: 2;
		width: 100%;
		min-height: 53px;
	}
	.logo_img span {
		font-size: 32px;
	}
	.header_bottom {
		padding: 10px;
		top: 0;
	}

	.nav_toggle{
		width: 18px;
		top: 16px;
		right: 20px;
	}
	.nav_toggle.active{
		right: 15px;
	}


	.nav_toggle_item{
		height: 2px;
	}


	.nav_toggle_item:before,
	.nav_toggle_item:after{
		height: 2px;
	}


	.nav_toggle.active .nav_toggle_item:before{
		transform-origin: left top;
		transform: rotate(45deg)
		translateX(-3px);
	}

	.nav_toggle.active .nav_toggle_item:after{
		transform-origin: left bottom;
		transform: rotate(-45deg)
		translateX(-3px);
	}

	.nav_toggle_item:before{
		top: -5px;
	}

	.nav_toggle_item:after{
		bottom: -5px;
	}

	.button_view {
		margin-right: 50px;
		width: 50px;
		height: 50px;
		font-size: 22px;
	}
	header {
		height: 52px;
	}
}



@media screen and (max-width: 370px){


	/*--------------------work_time--------------------*/
	.work_main_bottom_container{
		padding: 30px 0px 250px;
		background-position: bottom 15% left 30%, bottom right;
		background-size: 80%, 85% 35%;
	}

}



